@font-face {
    font-family: "Roboto-Bold";
    src: url("../../Assets/Fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: "Roboto-Regular";
    src: url("../../Assets/Fonts/Roboto-Regular.ttf");
}



/* General Settings */
h1, h2, .card__cost, .content__sub__icon__title, .contact_name{
    font-family: "Roboto-Bold";
    margin: 0;
}


/* Main */
.section_title, .logo_text{
    font-size: 24px;
}
.sub__title__card, .card__cost{
    font-size: 16px;
}
.nav_item, .button_link, .single_button, .contact_ipe, .sub__titels__big__card__txt, .btn__searh__text, .card__description, .card__date, .content__sub__title__description, .footer_desc, .footer-help{
    font-family: "Roboto-Regular";
    font-size: 14px;
    color: #C4C4C4;
}


/* Footer */
.footer .footer_title{
    font-size: 18px;
}
.footer-content{
}
.content_element{
    margin-bottom: 25px;
}
.content_element:nth-last-child(){
    margin-bottom: 0;
}    
.content__sub__icon__title, .contact_name, .contact_ipe, .single_button{
    font-size: 14px;
}
.content__sub__title__description{
    max-width: 231px;
}
.footer-items .footer-help{
    font-size: 12px;
    color: #ffffff;
}


/* Different */
.btn__searh__text{
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}


/* Color */
h1, .contact_name, .contact_ipe, .sub__titels__big__card__txt, .content__sub__title__description, .nav_item, .button_link, .footer-items .footer-help, .content_element h2{
    color: #0A143A;
}
h2{
    color: #256EEB;
}
