.footer{
    width: 261px;
    min-height: 100%;
}
.footer-body{
    margin-top: 9.5px;
}
.footer-body .title{
    margin-bottom: 25px;
    pointer-events: none;
}
.footer-general{
    width: 261px;
}
.footer-content{
    margin-bottom: 32.5px;
}
.footer_adss{
    display: block;
    width: 100%;
    height: 185px;
    margin-bottom: 7px;
}
.footer_adss:nth-last-child(){
    margin-bottom: 0;
}
.footer-content .footer_desc{
    pointer-events: none;
}
.footer__icon{
    margin-bottom: 7px;
}
.footer__sub{
    margin-bottom: 5px;
}
.footer-title{
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
.underline-content{
    width: 100%;
    height: 1px;
    margin-top: 26px;
    background-color: #E5E5E5;
}
.footer-items{
    margin-top: 18px;
}
.footer-items .item{
    margin-bottom: 5px;
}
.link{
    color: #C4C4C4;
}
.item__underline{
    text-decoration: underline;
}