.header{
    left: 0;
    right: 0;
    position: fixed;
    background-color: white;
    padding-top: 28px;
}
.header-body{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.header-left-block{
    display: flex;
    align-items: center;
    border: 1px solid red;
}
.header-right-block{
    display: flex;
    align-items: center;
    border: 1px solid red;
}
.logo-link{
    display: flex;
    gap: 6px;
    margin-right: 20px;
}
.logo__img{
    display: block;
    width: 27px;
    height: 27px;
}
.logo__name{

}
.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    margin-right: 18px;
}
.header-form{
    display: flex;
    gap: 12px;
}
.header-btn{
    background-color: white;
    border: 0px;
    border-radius: 6px;
    width: 161px;
    height: 36px;
    transition: all 0.3s;
}

















