@import url(../../Assets/CSS/normalize.css);
@import url(../../Assets/CSS/fonts.css);
@import url(../../Assets/CSS/hover.css);
@import url(../../Assets/CSS/pages.css);


*{
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family:"EBGaramond";
    color: #0A143A;
}
html{
    background-color: #ffffff;
}
.wrapper{
    display: flex;
    flex-flow: column nowrap;
    max-width: 1146px;
    margin: 0 auto;
}
.page-content{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 42px;
}
.page-rows{
    align-items: baseline;
}
