@import url("../../Assets/CSS/header.css");
@import url("../../Assets/CSS/footer.css");
@import url("../../Assets/CSS/main.css");
@import url("../../Assets/CSS/searh.css");
@import url("../../Assets/CSS/fonts.css");
@import url("../../Assets/CSS/normalize.css");
*{
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    color: #0A143A;
    padding: 0;
    margin: 0;
}
.page{
}
.input{
    transition: all 0.3s;
}
.input:focus{
    background-color: #eeeeee;
}
.wrapper{
    display: flex;
    flex-flow: column nowrap;
}
.container{
    max-width: 1146px;
    margin: 0 auto;
}
.section{
    margin-bottom: 32px; 
}
.active{
    color: #256EEB;
    text-decoration: underline;
}
button{
    border: 0px;
}
a{
    transition: all 0.3s;
}
a:hover{
    color: #256EEB;
    text-decoration: underline;
}
.logo-link:hover{
    text-decoration: none;
}
